<%= form_with(model: itinerary, local: true) do |form| %>
 
 <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :star_date, style: "display: block" %>
    <%= form.date_field :star_date %>
  </div>

  <div>
    <%= form.label :end_date, style: "display: block" %>
    <%= form.date_field :end_date %>
  </div>
  
  <div>
    <%= form.submit %>
  </div>
<% end %>
