<div id="<%= dom_id itinerary %>">
  <p>
    <strong>Name:</strong>
    <%= itinerary.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= itinerary.description %>
  </p>

  <p>
    <strong>Star date:</strong>
    <%= itinerary.star_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= itinerary.end_date %>
  </p>

  <p>
    <strong>User:</strong>
    <%= itinerary.user_id %>
  </p>

</div>
