<%= form_with(model: @recommendation, local: true) do |f| %>
  <%= f.hidden_field :itinerary_id, value: @itinerary.id %>

  <div>
    <%= f.label :content, style: "display: block" %>
    <%= f.text_field :content %>
  </div>

  <div>
    <%= f.label :category, style: "display: block" %>
    <%= f.text_field :category %>
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>
