<div id="<%= dom_id recommendation %>">
  <p>
    <strong>Content:</strong>
    <%= recommendation.content %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= recommendation.category %>
  </p>

  <p>
    <strong>Itinerary:</strong>
    <%= recommendation.itinerary_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= recommendation.user_id %>
  </p>

</div>
