<div id="<%= dom_id booking %>">
  <p>
    <strong>Detail:</strong>
    <%= booking.detail %>
  </p>

  <p>
    <strong>Reservation date:</strong>
    <%= booking.reservation_date %>
  </p>

  <p>
    <strong>Itinerary:</strong>
    <%= booking.itinerary_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= booking.user_id %>
  </p>

</div>
